<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <title>Gems, Rack, mounting</title>

  <meta name="slideselector" content="h1" />
  <meta name="titleselector" content="h2" />
  <meta name="stepselector"  content="li:not(.nostep)" />

  <link rel="stylesheet" href="/stylesheets/projection.css" type="text/css" media="all" charset="utf-8"/>

</head>

<body>

<%= yield %>

</body>
</html>
