
<div class="logoBanner">
  <a href="http://www.disruptive-innovations.com"><img id="DIlogo"
                                   alt="Disruptive Innovations"
                                   src="http://disruptive-innovations.com/zoo/slides/20060922/DI.png" /></a>
  <a href="http://www.w3.org"><img id="W3Clogo"
                                   alt="W3C Member"
                                   src="http://disruptive-innovations.com/zoo/slides/20060922/w3cmember.png" /></a>
</div>

<div class="slide"><h4>FullerScreen 2.2</h4>
  <div class="slidecontent">
    <ul>
      <li class="nostep"><strong>F11 to switch to full screen mode</strong></li>
      <li class="nostep"><strong>Use spacebar, arrows, page up/down keys to move to next slide or step</strong></li>
      <li>FullerScreen 2.2 has a slideshow mode</li>
      <li>automatically triggered when slideshow information is present in the document</li>
      <li>no extra JS needed</li>
    </ul>
  </div>
</div>

<div class="slide"><h4>Navigation between slides</h4>
  <div class="slidecontent">
    <ul>
      <li>spacebar, arrows, page up/down keys to move between slides/steps</li>
      <li class="new">top and end keys to move to first/last slide</li>
      <li class="new">move your mouse pointer to the bottom-right of the screen to show the joystick</li>
      <li>slide manager with thumbnails</li>
    </ul>
  </div>
</div>


<div class="slide"><h4>How it works</h4>
  <div class="slidecontent">
    <ul>
      <li>It's an extension to Firefox, the F11 key is your friend to turn it on</li>
      <li>uses only three extra META elements in the document</li>
      <li>uses CSS styles for the 'projection' media type</li>
    </ul>
  </div>
</div>

<div class="slide"><h4>Slides</h4>
  <div class="slidecontent">
    <p>To describe slides :</p>
    <ul>
      <li>Insert a new META element in the HEAD of your document</li>
      <li>Make it have a <code>name="slideselector"</code> attribute</li>
      <li>Make the <code>content</code> attribute contain a CSS selector matching all slide elements</li>
    </ul>
   <p>For instance: <code>&lt;meta name="slideselector" content="div.slide" /&gt;</code></p>
  </div>
</div>

<div class="slide"><h4>Slide title</h4>
  <div class="slidecontent">
    <p>To describe the title of a slide:</p>
    <ul>
      <li>Insert a new META element in the HEAD of your document</li>
      <li>Make it have a <code>name="titleselector"</code> attribute</li>
      <li>Make the <code>content</code> attribute contain a CSS selector matching the title of the slide in the context of a slide</li>
      <li>The title will be the aggregation of all text nodes in the element carrying the title</li>
    </ul>
   <p>For instance: <code>&lt;meta name="titleselector" content="h4" /&gt;</code></p>
  </div>
</div>

<div class="slide"><h4>Steps</h4>
  <div class="slidecontent">
    <p>It's possible to define steps in slides:</p>
    <ul>
      <li>Insert a new META element in the HEAD of your document</li>
      <li>Make it have a <code>name="stepselector"</code> attribute</li>
      <li>Make the <code>content</code> attribute contain a CSS selector matching the steps in the context of a slide</li>
      <li>Navigation in a given slide will, if there are steps matching the selector in that slide, go from step to step.</li>
    </ul>
   <p>For instance: <code>&lt;meta name="stepselector" content="li.step" /&gt;</code></p>
  </div>
</div>

<div class="slide"><h4>Projection styles</h4>
  <div class="slidecontent">
    <p>Use 'projection' styles that will be enabled only in FullerScreen mode:</p>
    <ul>
      <li>Create CSS style rules inside an @media rule</li>
    </ul>
   <pre>    @media projection {
      body { background-color: red;
      }
      div.slide {
        position: fixed;
        left: 5cm;
        right: 2cm;
        top: 1cm;
        bottom: 1cm;
        background: #d0d0d0;
      }</pre>
  </div>
</div>

<div class="slide"><h4>Highlight the current step</h4>
  <div class="slidecontent">
    <p>How to highlight the current step ?</p>
    <ul>
      <li>Have a style rule in your projection stylesheet for the special class __FSstep</li>
    </ul>
   <p>For instance:</p>
   <pre>  @media projection {
    .__FSstep { color: red; }
  }</pre>
  </div>
</div>

<div class="slide"><h4>Slide example</h4>
  <div class="slidecontent">
    <pre>&lt;div class="slide"&gt;&lt;h4&gt;Slides&lt;/h4&gt;
  &lt;div class="slidecontent"&gt;
    &lt;p&gt;To describe slides :&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;Insert a new META element in the HEAD of your
          document&lt;/li&gt;
      &lt;li&gt;Make it have a &lt;code&gt;name="slideselector"&lt;/code&gt;
          attribute&lt;/li&gt;
      &lt;li&gt;Make the &lt;code&gt;content&lt;/code&gt; attribute contain
          a CSS selector matching all slide elements&lt;/li&gt;
    &lt;/ul&gt;
   &lt;p&gt;For instance: &lt;code&gt;&amp;lt;meta name="slideselector"
      name="div.slide" /&amp;gt;&lt;/code&gt;&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>

<div class="slide"><h4 class="new">The joystick</h4>
  <div class="slidecontent"><img style="float:right; margin-left: 1em; margin-bottom:1em"
         src="FSjoystick.png" />
    <ul>
      <li>move the pointer to the bottom-right of the screen to make it appear</li>
      <li>left arrow moves to previous slide/step</li>
      <li>right arrow moves to next slide/step</li>
      <li>up arrow moves to first slide</li>
      <li>down arrow moves to last slide</li>
      <li>the on/off buttons makes Firefox exit full screen mode</li>
      <li>the center button shows and hides the slide manager</li>
      <li style="font-weight: bold">try it now !!!</li>
    </ul>
  </div>
</div>

<div class="slide"><h4 class="new">Page counters</h4>
  <div class="slidecontent">
  <ul>
      <li>insert whereever you want an empty element of class __FScounter that will contain the current slide's index</li>
      <li>insert whereever you want an empty element of class __FStotal that will contain the total number of slides in the show</li>
    </ul>
   <p>For instance:</p>
   <pre>&lt;div class="footer"&gt;
  &lt;span class="__FScounter" /&gt; / &lt;span class="__FStotal" /&gt;
&lt;/div&gt;</pre>
  </div>
</div>

<div class="slide"><h4>The slide manager</h4>
  <div class="slidecontent">
    <ul>
      <li>hit shift-F11 to toggle on/off <span class="new">or use the joystick</span></li>
      <li class="new">use arrow and page keys to navigate between thumbnails</li>
      <li>click on a thumbnail to show the slide <span class="new">or hit the CR key</span></li>
      <li class="new">click on the center of the joystick to close the slidemanager w/o chosing a slide or hit the ESC key</li>
      <li>the current slide is outlined in <span class="new">red while the selected slide is outlined in blue</span></li>
      <li style="font-weight: bold">try it now !!!</li>
    </ul>
  </div>
</div>

<div class="footer1"><span class="__FScounter"></span>/<span class="__FStotal" /></span></div>
<div class="footer2">&copy; Disruptive Innovations 2007
<img src="http://disruptive-innovations.com/zoo/slides/20060922/DIpowered.png" id="DIPowered"/></div>
