<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />

  <meta name="slideselector" content=".slide" />
  <meta name="titleselector" content="h4" />
<!--
  <meta name="stepselector"  content="li:not(.nostep)" />
-->
  <%= stylesheet_link_tag "/stylesheets/slides.css", "/stylesheets/projection.css", "/stylesheets/uv.css" %>

  <title>Rack, Middleware, Sinatra, Rails, Gems</title>
</head>

<body>

<div class="logoBanner">
  <p id="ZJFlogo">ZJF</p>
  <p id="WBlogo">Włodek<br/>Bzyl</p>
</div>

<%= yield %>

<div class="footer1">
  <span class="__FScounter"></span>/<span class="__FStotal" /></span></div>
</div>
<div class="footer2">Gdańsk 6.06.2009</div>

</body>
</html>
